<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "My Blog" %></title>

    <%= stylesheet_link_tag  "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <%= link_to "Home", "/" %>
    <%= link_to "Contact", "/contact.html" %>
    <% link_to 'erinmarie.isbell@gmail.com' do %>
  <%= image_tag 'http://mergy.org/wp-content/uploads/email-icon.png' %>
  Mail me at <%= mail_to 'fake@faker.com', "Fake Email Link", :cc => "test@demo.com" %>
  <%= image_tag 'padrino.png', :width => '35', :class => 'logo' %>
</body>
<% end %>
    <%= yield %>
  </body>
</html>
